body{
  margin: 0;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #666EE8;
  width: 1280px;
  height: 28px;
  padding-top: 10px;
}

.link {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  margin-right: 25px;
  font-style: normal;
}

.container2 {
  display: flex;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 100px;
  height: 85px;

}


.select-field {
height: 70px;
min-width: 200px;
display: flex;
justify-content: flex-end;
border: 1px solid #E4E5EC;
border-radius: 100px;
align-items: center;
padding-left: 150px;

}

.buttons {
background-color: #F4F5FA;
border-radius: 100px;
width: 120px;
height: 35px;
display: flex;
align-items: center;
justify-content: space-around;
color: red;

}

.green-button {
border-radius: 100px;
width: 58px;
height: 35px;
background-color: #35CF95;
display: flex;
align-items: center;
justify-content: space-around;
color: white;
}

.img-arrow {
padding-right: 10px;
}

.container3 {
  display: flex;
  justify-content: space-between;
}

h1 {
  color: #666EE8;
  display: flex;
  align-self: flex-start;
}

h6{
  display: flex;
  align-self: flex-start;
}

.paragraf {
  display: flex;
  flex-direction: column;
  padding-left: 200px;
}

.card {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.mobile-icon {
background-color: #8A91FF;
}

.big-icon {
  padding-right: 100px;
}
